@model IEnumerable<CourseworkApp.Models.ConferenceCall>
<div id="SearchResults">
@foreach (var item in Model)
{
    <div class="boxArea">
        <h1>@Html.DisplayFor(modelItem => item.ConferenceCallTitle)</h1>
        <p>This conference call took place on : @Html.DisplayFor(modelItem => item.ConferenceCallDate)</p>
        <p>The event will take place at: @Html.DisplayFor(modelItem => item.ConferenceCallTranscript)</p>
    </div>
}
</div>