@model IEnumerable<CourseworkApp.Models.Event>
<div id="SearchResult">
    @foreach (var item in Model)
    {
        <div class="boxArea">
            <h1>@Html.DisplayFor(modelItem => item.EventName)</h1>
            <p>@Html.DisplayFor(modelItem => item.EventDescription)</p>
            <p>The event will take place at: @Html.DisplayFor(modelItem => item.EventLocation)</p>
            <p>The event will take place on: @Html.DisplayFor(modelItem => item.EventDate)</p>
        </div>
    }
</div>