@model IEnumerable<CourseworkApp.Models.Event>
<style>
    .event{
        background-color: lightgrey;
        border: 1px solid black;
        margin-top: 5%;
        text-align: center;
    }
</style>
    @foreach (var item in Model)
    {
        <div class="event">
            <h1>@Html.DisplayFor(modelItem => item.EventName)</h1>
            <p>@Html.DisplayFor(modelItem => item.EventDescription)</p>
            <p>The event will take place at: @Html.DisplayFor(modelItem => item.EventLocation)</p>
            <p>The event will take place on: @Html.DisplayFor(modelItem => item.EventDate)</p>
        </div>
    }
