@model IEnumerable<CourseworkApp.Models.Publication>
<div id="SearchResult">
    @foreach (var item in Model)
    {
        <div class="boxArea">
            <h1>@Html.DisplayFor(modelItem => item.PublicationTitle)</h1>
            <p>@Html.DisplayFor(modelItem => item.PublicationAbstract)</p>
            <p><a href="@Html.DisplayFor(modelItem => item.PublicationLink)">Click here to view full report </a></p>
        </div>
    }
</div>