@model IEnumerable<CourseworkApp.Models.Report>
<div id="SearchResult">
    @foreach (var item in Model)
    {
        <div class="boxArea">
            <h1>@Html.DisplayFor(modelItem => item.ReportTitle)</h1>
            <p>@Html.DisplayFor(modelItem => item.ReportAbstract)</p>
            <p><a href="@Html.DisplayFor(modelItem => item.ReportLink)">Click here to view full report </a></p>
        </div>
    }
</div>