@model IEnumerable<CourseworkApp.Models.Researcher>
<div id="SearchResult">
    @foreach (var item in Model)
    {
        <div class="boxArea">
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <p>@Html.DisplayFor(modelItem => item.Biography)</p>
        </div>
    }
</div>