@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h2> Who are we?</h2>
<p> We are a group of researchers aiming to expand human knowelge via our studies and reports.</p>

<h2> Our Team</h2>

@Html.Partial("_ResearchersAbout")