

@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
{
<h2>AdminPanel</h2>

<h3> Options </h3> <br>
<ul>
    <a href="../Researchers"><li>Manage Researchers</li></a>
    <a href="../Events"><li>Manage Events</li></a>
    <a href="../Publications"><li>Manage Publications</li></a>
    <a href="../Reports"><li>Manage Reports</li></a>
    <a href="../ConferenceCalls"><li>Manage Conference Calls</li></a>
    <a href="../WorkLocations"><li>Manage Work Locatiosn</li></a>
    <a href="Account/Register"><li>Register New Admin</li></a>

</ul>


}
else
{
    <h2> You are not singed in as an admin!</h2>
    <h3> Please <a href="/Account/Login">Sign In</a></h3>
}