@{
    ViewBag.Title = "ConferenceCalls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ConferenceCalls</h2>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
}
@using (Ajax.BeginForm("ConferenceCallsSearch", "Home", new AjaxOptions
{
    UpdateTargetId = "SearchResults",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace
}))
{
    <input type="text" name="q" />
    <input type="submit" id="SearchBtn" value="Search Conference Callo" />
}
<div>
@Html.Partial("_ConferenceCalls")
</div>