@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<h2> Chair and Co-Chair Websites : </h2>
<h2> Our Chair's Website</h2>
<p> <a href="http://www.kingston.ac.uk/staff/profile/professor-jamshid-dehmeshki-402/"> Visit our Chair's website</a></p>
<br />
<h2> Our Co-Chair Website</h2>
<p><a href="https://uk.linkedin.com/in/soran-habib-2b6b9360"> Visit our Co-Chair's Website</a></p>
<br />
<h2> All Researchers Contact Information : </h2>
